{% extends "base.html" %}

{% load static %}

{% block title %}输入正文内容{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>请输入正文内容</h1>

    <form class="form-horizontal" action="{% url 'core:after' %}"   method="post" >{% csrf_token %}
{#        {% for field in content_form %}#}
{#            {% if forloop.counter <= chapternum %}#}
{#            <div class="form-group">#}
{#                <label for="{{ field.id_for_label }}" class="col-md-5 control-label"></label>#}
{##}
{#                <div class="col-md-6 text-left">{{ field }}</div>#}
{#            </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    <div class="form-group">
        <h4>第一章</h4>
        <label for="{{ content_form.content1.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content1 }}</div>
    </div>

         <div class="form-group">
              <h4>第二章</h4>
        <label for="{{ content_form.content2.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content2 }}</div>
        </div>

        <div class="form-group">
            <h4>第三章</h4>
        <label for="{{ content_form.content3.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content3 }}</div>
    </div>

        <div class="form-group">
            <h4>第四章</h4>
        <label for="{{ content_form.content4.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content4 }}</div>
    </div>
        <div class="form-group">
            <h4>第五章</h4>
        <label for="{{ content_form.content5.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content5 }}</div>
    </div>
        <div class="form-group">
            <h4>第六章</h4>
        <label for="{{ content_form.content6.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content6 }}</div>
    </div>
        <div class="form-group">
            <h4>第七章</h4>
        <label for="{{ content_form.content7.id_for_label }}" class="col-md-5 control-label"></label>

        <div class="col-md-6 text-left">{{ content_form.content7 }}</div>
    </div>
            <input type="submit" class="btn btn-primary btn-lg" value="下一步">
 </form>


</div>


{% endblock %}